/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --bg-color: linear-gradient(90deg, hsl(0, 0%, 8%) 0%, hsl(0, 0%, 14%) 100%);

  /*===== Colores =====*/
  /* HSL color mode */
  --hue-color: 140;
  --first-color: #5bfb4f;
  --second-color: #f3fccb;
  --terc-color: #88f9aa;
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
  --z-tooltip: 10;

  --white-color: #fff;
  --black-color: hsl(210, 12%, 15%);
  --body-color: hsl(210, 16%, 12%);
  --container-color: hsl(210, 24%, 8%);
  

  @media screen and (min-width: 968px) {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background: radial-gradient(#2b3329, #0d0d0d);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: none;
  outline: none;
  
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
 
}
/*===== CLASS CSS ===== */
.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.grid {
  display: grid;
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;

  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.containers {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--body-color);
      transition: 0.5s;
      z-index: 1000;
    }
  }
  &__item {
    margin-bottom: var(--mb-4);
  }
  &__link {
    position: relative;
    color: #fff;

    &:hover {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--first-color);
      }
    }
  }
  &__logo {
    color: var(--second-color);
  }
  &__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*=============== SCROLL UP ===============*/
.scrollup {

  position: fixed;
  background: white;
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
  font-weight: 900;
}

.scrollup__icon {
  font-size: 1.25rem;
  color: #000;
}

.scrollup:hover {
  background: #00F34A;
  opacity: 1;
  color: #152715;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}
/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;

  &__data {
    align-self: center;
  }
  &__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);

    &-color {
      color: var(--first-color);
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    &-icon {
      width: max-content;
      margin-bottom: var(--mb-2);
      font-size: 1.5rem;
      color: var(--second-color);

      &:hover {
        color: var(--first-color);
      }
    }
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;

    .main-stop {
      stop-color: var(--first-color);
    }
    .alt-stop {
      stop-color: var(--terc-color);
    }
    .box {
      top: -100px;
      position: relative;
      width: 90%;
      z-index: 100;

      height: 400px;
      object-fit: cover;
      background-size: 200%;
      background-position: center center;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      perspective: 100px;

      transition: all 0.8s ease-in-out;
      animation: forma 10s ease-in-out infinite both alternate,
        movimiento 10s ease-in-out infinite both;
      background: rgb(238, 236, 174);
      background: linear-gradient(
        90deg,
        rgba(238, 236, 174, 1) 0%,
        rgba(49, 166, 113, 1) 96%
      );
      &.two {
        filter: blur(10px);
        transform: rotate(60deg);
        position: absolute;

        left: 0;
        z-index: -1;
        background: rgb(238, 236, 174);
        background: linear-gradient(
          90deg,
          rgba(238, 236, 174, 1) 0%,
          rgba(49, 166, 113, 1) 96%
        );
      }
    }
  }
  &__blob {
    fill: red;

    &-img {
      width: 360px;
    }
  }
}

#gradient {
  --color-stop: #f12c06;
  --color-bot: #faed34;
}
#blob {
  fill: url(#gradient) #fff;
}
/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #318040;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
}

/* ===== ABOUT =====*/
.about {
  .container {
    width: 280px;
    height: 480px;
    position: relative;
    perspective: 800px;

    .card {
      width: 320px;
      height: 450px;
      position: relative;
      transform-style: preserve-3d;
      cursor: pointer;
      transform: translateZ(-140px);
      transition: transform 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
      .front {
        background-image: linear-gradient(
          180deg,
          rgb(17, 17, 17) 0%,
          rgba(92, 91, 94, 0) 100%
        );
        transform: rotateY(0deg) translateZ(160px);
        border-radius: 34px 3px 0 0;
        .price {
          position: absolute;
          bottom: 34px;
          left: 21px;
          font-size: 34px;
          opacity: 0.64;
        }
      }
      .rigth {
        background-image: linear-gradient(
          0deg,
          rgb(10, 10, 10) 0%,
          rgba(233, 22, 237, 0) 100%
        );
        transform: rotateY(90deg) translateZ(160px);
        opacity: 0.08;
        border-radius: 0 0 3px 34px;
        ul {
          margin-left: 21px;
          padding: 0;
          font-size: 16px;
          font-weight: 300;
          list-style: none;
          li {
            padding-bottom: 8px;
            position: relative;
            &::before {
              content: "x";
              position: absolute;
              left: -21px;
              opacity: 0.55;
            }
          }
        }
        button {
          position: absolute;
          right: 21px;
          bottom: 34px;
          border: none;
          box-shadow: none;
          color: black;
          background-color: white;
          font-size: 15px;
          letter-spacing: -0.25px;
          font-weight: 600;
          padding: 13px 34px;
          border-radius: 55px 55px 21px 55px;
          box-shadow: 8px 5px 13px rgba(34, 34, 34, 0.08);
          cursor: pointer;
        }
      }
      & > div {
        position: absolute;
        width: 320px;
        height: 450px;
        padding: 34px 21px;
        transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
      }
      &:hover {
        transform: translateZ(-160px) rotateY(-90deg);
        .front {
          opacity: 0;
        }
        .rigth {
          opacity: 1;
        }
        ~ .img-container {
          img {
            transform: scale(0.7) translateX(calc(100% + 60px)) translateY(100%)
              rotateZ(80deg);
          }
        }
      }
    }
    .img-container {
      animation: float 4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      backface-visibility: hidden;
      img {
        transform-origin: top right;
        transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-delay: 100ms;
        transform: translateX(42%) translateY(80%) rotateZ(13deg) skewX(3deg);
        pointer-events: none;
        width: 70%;
      }
    }
  }
  &__container {
    row-gap: 2rem;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: var(--mb-2);
  }

  &__img {
    justify-self: center;

    & img {
      width: 200px;
      border-radius: 0.5rem;
    }
  }
}

/* ===== SKILLS =====*/
.skills {
  &__container {
    row-gap: 2rem;
    text-align: center;

    .container {
      display: grid;
      place-items: center;
      margin-inline: 1.5rem;
      @media screen and (max-width: 320px) {
        margin-inline: 1rem;

        .card {
          &__article {
            padding: 2rem 1rem;
          }
          &__scale-1 {
            top: 2rem;
          }
          &__scale-2 {
            top: 3rem;
          }
        }
      }
      @media screen and (min-width: 576px) {
        .card__container {
          grid-template-columns: 328px;
        }
      }

      @media screen and (min-width: 768px) {
        .card__container {
          grid-template-columns: repeat(2, 328px);
        }
      }
      @media screen and (min-width: 1120px) {
        .card {
          &__container {
            grid-template-columns: repeat(4, 1fr);
          }
          &__article {
            padding: 4.5rem 2rem 3.5rem;
          }
        }
      }
      .card {
        &__container,
        &__article {
          display: grid;
          gap: 2rem;
        }
        &__container {
          padding-block: 4.5rem;
        }
        &__article {
          --hue-1: 210;
          --hue-2: 238;
          position: relative;
          justify-items: center;
          color: var(--white-color);
          text-align: center;
          padding: 4rem 2rem 3rem;
          border: 4px solid transparent;
          background: linear-gradient(
                var(--container-color),
                var(--container-color)
              )
              padding-box,
            linear-gradient(
                135deg,
                hsl(var(--hue-1), 85%, 70%) 0%,
                var(--container-color),
                var(--container-color),
                hsl(var(--hue-2), 70%, 55%) 100%
              )
              border-box;
          border-radius: 1.25rem;
          overflow: hidden;
          font-size: 3rem;
        }
        // shapes card
        &__shape-1 {
          position: relative;
          width: 148px;
          height: 148px;
          background: linear-gradient(
            140deg,
            hsl(var(--hue-1), 75%, 25%) 3%,
            hsl(var(--hue-2), 65%, 45%) 100%
          );
          border-radius: 2rem;
          z-index: 2;
        }
        &__shape-2 {
          width: 116px;
          height: 116px;
          background: linear-gradient(
            140deg,
            hsl(var(--hue-1), 70%, 50%) 3%,
            hsl(var(--hue-2), 95%, 45%) 100%
          );
          border-radius: 1.5rem;
        }
        &__shape-3 {
          width: 76px;
          height: 76px;
          background: linear-gradient(
            140deg,
            hsl(var(--hue-1), 85%, 60%) 3%,
            hsl(var(--hue-2), 85%, 60%) 100%
          );
          border-radius: 1rem;
          display: grid;
          place-items: center;
        }
        &__shape-2,
        &__shape-3 {
          position: absolute;
          inset: 0;
          margin: auto;
        }
        &__icon {
          font-size: 3rem;
        }
        &__data {
          z-index: 3;
        }
        &__title {
          font-size: var(--h2-font-size);
          margin-bottom: 0.25rem;
          font-weight: 600;
        }
        &__description {
          margin-bottom: 1.5rem;
        }
        &__button {
          display: inline-block;
          background-color: var(--white-color);
          padding: 1rem 1.5rem;
          border-radius: 0.5rem;
          color: var(--black-color);
          font-weight: 500;
        }
        // Color change
        &__orange {
          --hue-1: 10;
          --hue-2: 30;
        }
        &__green {
          --hue-1: 180;
          --hue-2: 50;
        }
        &__yellow {
          --hue-1: 80;
          --hue-2: 30;
        }
        &__react {
          --hue-1: 600;
          --hue-2: 200;
        }
        // Shapes scale
        &__scale-1 {
          width: 148px;
          height: 148px;
          background: linear-gradient(
            140deg,
            hsl(var(--hue-1), 70%, 50%) 3%,
            hsl(var(--hue-2), 95%, 45%) 100%
          );
          border-radius: 2rem;
          top: 4rem;
        }
        &__scale-2 {
          width: 116px;
          height: 116px;
          background: var(--container-color);
          border-radius: 1.5rem;
          top: 5rem;
        }
        &__scale-1,
        &__scale-2 {
          position: absolute;
          filter: blur(24px);
          transition: transform 0.3s ease-in;
        }
        // Shapes scale animation
        &__article:hover .card__scale-1 {
          transform: scale(6);
        }
        &__article:hover .card__scale-2 {
          transform: scale(6);
          transition-delay: 0.1s;
        }
      }
    }
  }
  &__subtitle {
    margin-bottom: var(--mb-2);
  }
  &__text {
    margin-bottom: var(--mb-4);
  }
  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  }
  &__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  &__names {
    display: flex;
    align-items: center;
  }
  &__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
  }
  &__html {
    width: 95%;
  }
  &__css {
    width: 85%;
  }
  &__js {
    width: 65%;
  }
  &__ux {
    width: 85%;
  }
  &__img {
    border-radius: 0.5rem;
  }
}
/* ===== WORK =====*/
.work {
  &__container {
    row-gap: 2rem;
    cursor: pointer;
    .container {
      position: relative;
      .card {
        background: rgba(1, 1, 1, 0.2);
        width: 100%;
        height: 450px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.15);
          clip-path: circle(150px at 80% 20%);
          transition: 0.5s ease-in-out;
        }

        &:hover {
          .imgBx {
            top: 0;
            transform: translateY(0);
          }
          .contentBx {
            height: 210px;
            .size {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.5s;

              display: flex;
              justify-content: center;
              text-align: center;
              align-items: center;

              span {
                font-size: 1.4em;
                font-weight: 700;
                vertical-align: center;
              }
            }
            .color {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.6s;
            }
            a {
              opacity: 1;
              transform: translateY(0px);
              transition-delay: 0.75s;
            }
          }
          &::before {
            clip-path: circle(300px at 80% -20%);
            background: #5bfb4f;
            filter: blur(20px);
          }
        }
        &:after {
          content: "css";
          position: absolute;
          top: 30%;
          left: -20%;
          font-size: 12em;
          color: rgba(255, 255, 255, 0.02);
          font-weight: 800;
          font-style: italic;
          z-index: 1;
        }
        .imgBx {
          position: absolute;
          top: 50%;
          width: auto;
          height: 210px;
          z-index: 1000;
          transition: 0.5s;
          transform: translateY(-50%);
          border-radius: 20px;
          overflow: hidden;
          margin: 10px;
          img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
          }
        }
        .contentBx {
          position: absolute;
          bottom: 0;
          width: 100%;

          height: 100px;
          text-align: center;
          transition: 1s;
          z-index: 10;
          h2 {
            font-weight: 600;
            letter-spacing: 1px;
            color: #fff;
          }
          .size,
          .color {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 20px;
            opacity: 1;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            h3,
            h3 {
              color: #fff;
              font-weight: 300;
              font-size: 14px;
              text-transform: uppercase;
              letter-spacing: 2px;
              margin-right: 10px;
            }
          }
          .size span {
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            display: inline-block;
            color: #111;
            background: #fff;
            border-radius: 4px;
            margin: 0 5px;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              color: #111;
              background: #dc7928;
            }
          }
          .color span {
            width: 20px;
            height: 20px;
            background: #f00;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            &:nth-child(2) {
              background: #9bdc28;
            }
            &:nth-child(3) {
              background: #03a9f4;
            }
            &:nth-child(4) {
              background: #e91e63;
            }
          }
          a {
            display: inline-block;
            padding: 5px 30px;
            background: #ffffff;
            border-radius: 4px;
            margin-top: 0px;
            text-decoration: none;
            font-weight: 600;
            color: #131313;
            transform: translateY(50px);
            transition: 0.5s;
            opacity: 0;
          }
        }
      }
    }
  }
  &__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;

    & img {
      transition: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

/* ===== CONTACT =====*/
.newsletter__description {
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.newsletter__form {
  background: var(--container-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
  .newsletter__input {
    width: 70%;
    padding: 0 0.5rem;
    background: none;
    color: var(--title-color);
    ::placeholder {
      color: var(--text-color);
    }
  }
}

/* ===== FOOTER =====*/
.footer {
  position: relative;
  overflow: hidden;
  .footer__img-one,
  .footer__img-two {
    position: absolute;
    transition: 0.3s;
    animation: floating 2s ease-in-out infinite;
  }
  .footer__img-one {
    width: 100px;
    top: 6rem;
    right: -2rem;
  }
  .footer__img-two {
    width: 150px;
    bottom: 4rem;
    right: 4rem;
  }
  .footer__img-one:hover,
  .footer__img-two:hover {
    transform: translateY(-0.5rem);
  }
  .footer__container {
    row-gap: 2rem;
    .footer__content {
      .footer__logo {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        margin-bottom: var(--mb-1);
        font-weight: var(--font-medium);
        color: var(--title-color);
        &-img {
          width: 20px;
        }
      }
      .footer__description {
        margin-bottom: var(--mb-2-5);
      }
      .footer__social {
        display: flex;
        column-gap: 0.75rem;
        &-link {
          display: inline-flex;
          background: var(--container-color);
          padding: 0.25rem;
          border-radius: 0.25rem;
          color: var(--title-color);
          font-size: 1rem;
          &:hover {
            background: var(--body-color);
          }
        }
      }
      .footer__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-1);
      }
      .footer__links {
        display: grid;
        row-gap: 0.35rem;
        .footer__link {
          font-size: var(--small-font-size);
          color: var(--text-color);
          transition: 0.3s;
          &:hover {
            color: var(--title-color);
          }
        }
      }
    }
  }
}
.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  margin-top: 4.5rem;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 520px) {
  .home {
    row-gap: 2rem;

    &__img {
      width: 250px;

      .box {
        top: 40px;
        height: 20%;

        &.two {
          width: 160px;
          height: 80px;
          right: 160px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
    &__social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;

      &-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
      }
    }
    &__img {
      width: 300px;
      bottom: 25%;
      .box {
        top: 100px;
      }
    }
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }

  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }

  .contact {
    &__form {
      width: 360px;
      padding-top: 2rem;
    }
    &__container {
      justify-items: center;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);

    &::after {
      width: 80px;
      top: 3rem;
    }
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    &__list {
      display: flex;
      padding-top: 0;
    }
    &__item {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
    &__link {
      color: var(--second-color);
    }
  }
  .home {
    padding: 8rem 0 2rem;

    &__img {
      width: 400px;
      bottom: 10%;
    }
  }

  .about {
    &__container {
      padding-top: 2rem;
    }
    &__img {
      & img {
        width: 300px;
      }
    }
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;

    &__img {
      width: 450px;
    }
  }
}
@keyframes forma {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 35% 65% 70%;
  }
  20% {
    border-radius: 52% 48% 51% 49% / 66% 54% 46% 34%;
  }
  40% {
    border-radius: 66% 34% 32% 68% / 35% 64% 36% 65%;
  }
  60% {
    border-radius: 42% 58% 70% 30% / 68% 34% 66% 32%;
  }
  80% {
    border-radius: 55% 45% 42% 58% / 38% 70% 30% 62%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 35% 65% 70%;
  }
}
@keyframes movimiento {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 35% 65% 70%;
  }
  20% {
    border-radius: 52% 48% 51% 49% / 66% 54% 46% 34%;
  }
  40% {
    border-radius: 66% 34% 32% 68% / 35% 64% 36% 65%;
  }
  60% {
    border-radius: 42% 58% 70% 30% / 68% 34% 66% 32%;
  }
  80% {
    border-radius: 55% 45% 42% 58% / 38% 70% 30% 62%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 35% 65% 70%;
  }
}

/* Para dispositivos pequeños */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img {
    height: 200px;
    
  }
  .home__buttons {
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .category__container,
  .trick__container {
    grid-template-columns: 0.8fr;
    justify-content: center;
  }
}

/* Para dispositivos medianos */
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: 0.8fr;
    justify-content: center;
  }

  .newsletter__container {
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
  }
  .newsletter__description {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__img,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__link {
    text-transform: initial;
    font-weight: initial;
  }

  .home__content {
    padding: 8rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .home__img {
    height: 300px;
  }
  .swiper-pagination {
    margin-top: var(--mb-2);
  }

  .category__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__title,
  .about__data {
    text-align: initial;
  }
  .about__img {
    width: 250px;
  }

  .trick__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2rem;
  }

  .discount__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 3rem 0;
    border-radius: 3rem;
  }
  .discount__img {
    width: 350px;
    order: -1;
  }
  .discount__data {
    padding-right: 6rem;
  }

  .newsletter__container {
    grid-template-columns: 0.5fr;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
  }
  .footer__img-two {
    right: initial;
    bottom: 0;
    left: 15%;
  }
}

/* Para dispositivos grandes */
@media screen and (min-width: 992px) {
  .containers {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 3rem;
  }

  .home__content {
    padding-top: 9rem;
    gap: 3rem;
  }
  .home__group {
    padding-top: 0;
  }
  .home__img {
    height: 400px;
    transform: translateY(-3rem);
  }
  .home__indicator {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }
  .home__indicator::after {
    top: 0;
    height: 75px;
  }

  .home__title {
    margin-bottom: var(--mb-1-5);
  }
  .home__description {
    margin-bottom: var(--mb-2-5);
    padding-right: 2rem;
  }

  .category__container {
    column-gap: 8rem;
  }
  .category__img {
    width: 200px;
  }

  .about__container {
    column-gap: 7rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    padding-right: 2rem;
  }

  .trick__container {
    gap: 3.5rem;
  }
  .trick__content {
    border-radius: 1.5rem;
  }
  .trick__img {
    width: 110px;
  }
  .trick__title {
    font-size: var(--h3-font-size);
  }

  .discount__container {
    column-gap: 7rem;
  }

  .new__content {
    width: 310px;
    border-radius: 1rem;
    padding: 2rem 0;
  }
  .new__img {
    width: 150px;
  }
  .new__img,
  .new__subtitle {
    margin-bottom: var(--mb-1);
  }
  .new__title {
    font-size: var(--h3-font-size);
  }

  .footer__copy {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .home__img {
    height: 420px;
  }
  .swiper-pagination {
    margin-top: var(--mb-2-5);
  }
  .footer__img-one {
    width: 120px;
  }
  .footer__img-two {
    width: 180px;
    top: 30%;
    left: -3%;
  }
}
